// Place all the styles related to the classi_inserter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input {
  margin-bottom: 10px;
}
.input > label {
  display: block;
  float: left;
  margin-right: 10px;
  width: 120px;
  text-align: right;
  color: red;
}

.collection_checkbox {
  span {
    display: block;
    margin-left: 130px;
  }
}

.actions {
  margin-left: 130px;
  margin-top: 10px;
}
.hint {
  display: block;
  margin-left: 130px;
}

.hidden {
  display: none !important;
}